.wrapper {
  height: 100%;
  width: 100%;
  box-sizing: border-box;

  &:hover {
    .main {
      & > div:last-child {
        bottom: 0;
      }
    }
  }
  .main {
    padding: 0;
    margin: 0;
    float: left;
    position: relative;
    cursor: pointer;
  }

  .aside {
    float: left;
    width: calc(100% - 180px);
    height: 180px;
  }
}