.lightbox_wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;

  .lightbox {
    background-color: var(--vkui--color_background_modal);
    color: var(--vkui--color_text_primary);
    width: 640px;
  }
}
