.buttons {
  height: auto;
}

.button {
  border: none;
  outline: none;
  box-sizing: content-box;
  cursor: pointer;
  margin-right: 12px;
  margin: 0;
  float: left;
  position: relative;

  width: 24px;
  height: 24px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
}

.blue {
  @extend .button;
  background-image: url('images/blue-disabled.svg');
  transition: background-color .15s ease-out,opacity .15s ease-out;
}

.blue:hover {
  opacity: 0.8;
}

.blue.enabled {
  background-image: url('images/blue-enabled.svg');
}
