@import './fonts';

//$font_thin: 'RobotoThin', sans-serif;
$font_light: 'RobotoLight', sans-serif;
//$font_medium: 'RobotoMedium', sans-serif;
$font_regular: 'RobotoRegular', sans-serif;

$base_background_color: #577ca1;